html{
	margin : 0;
	padding : 0;
	}
body{
	background-color : #CCEEDD;
	margin : 0;
	padding : 0;
}
#page{
	}
#content{
	width : 1000px;
	min-height : 500px;
	margin : auto;
	background : #FFFFFF;
	}
#ban{
	width : 100%;
	height: 100px;
	background : #00EEFF url('/img/isty_logo.png') no-repeat right top;
	text-align : center;
	}
#ban a{
	color : #000000;
	text-decoration : none;
	}
#ban a p{
	text-align : center;
	font-style : italic;
}
#menunotif{
	display : block;
	float : right;
	width : 300px;
	height : 30px;
	}
#menunotif #butnotif{
	background : #EB4129;
	width : 130px;
	height : 20px;
	border: 2px solid #AC2613;
    border-radius: 5px;
	}
#menunotif #butnotif:hover{
	background : #FF5029;
	}
#menunotif #butnotif:active{
	background : #AA4129;
	}
#listenotif{
	display : block;
	position : absolute;
	top : 107px;
	right : 15px;
	width : 300px;
	height : 300px;
	background : #FFF;
	border : 1px solid black;
	overflow : hidden;
	}
.notification{
	display : block;
	width : 100%;
	height : 43px;
	border : 1px solid black;
	text-align : left;
	font-size : 0.8em;
	padding : 3px;
	overflow: hidden;
	-o-text-overflow: ellipsis; /* pour Opera 9 */
	text-overflow: ellipsis; /* pour le reste du monde */
	}
#footer{
	background-color : #DDEEFF;
	}
#sidebar{
	background-color : #555555;
	display : block;
	float : left;
	width : 260px;
	min-height : 400px;
	}
#navigation{
	width : 250px;
	list-style:none;
	margin : 0;
	padding: 5px;
}
#navigation li{
	background-color : #555555;
	color : #FFCCCC;
	border: 1px solid #000000;
	margin-bottom : 1px;
	padding : 0px;
}
#navigation li a{
	display: block;
	color : #CCCCCC;
	font: 1em "Trebuchet MS", Arial,sans-serif;
	line-height: 1em;
	text-align : left;
	text-decoration : none;
	padding : 4px 0;
}
#navigation li a:hover{
	background-color : #995555;
}
#article{
	width : 730px;
	display : block;
	float : right;
	padding : 4px;
	}
h1{
	color : navy;
	margin-left : 20px;
}
p{
	text-align : justify;
	}
.erreur{
	color : #990000;
	}
.offres{
	width : 100%;
	}
.offres div{
	width : 100%;
	height : 50px;
	margin : 0;
	padding : 0;
	border-bottom:1px dashed black;
	}
.offres div a{
	display : block;
	width : 100%;
	height : 100%;
	color: black;
	text-decoration : none;
	margin : 0;
	padding : 0;
	vertical-align : top;
	}
.offres div a:hover{
	background : #00AABB;
	}
.offres div a h4{
	line-height: 1em;
	margin : 0;
	padding : 5px 0 0 0;
	}
.offres div a p{
	margin: 0;
	}
